{% load static %}
<style>
   

    
    .header__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        right: 40px;
    }

    .search_input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        width: 100px;
        transition: width 0.3s ease-in-out;
    }

    .home_search_button {
        background: radial-gradient(circle, #ff9900, #9933cc);
        color:aqua;
background-blend-mode: overlay;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .home_search_button:hover {
        background-color: #333;
        color: #fff;
    }

    .header__search:hover .search_input {
        background-color: yellow;
    }
    .header {
        height: 200px;  /* Adjust the height as needed */
    }
    
</style>
<!-- header-start -->
<header class="header " style="background: linear-gradient(rgba(255, 0, 102, 0.7), rgba(0, 153, 255, 0.7)), url('your-image.jpg');
background-blend-mode: overlay;" height="50">
    <div class="header-top">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="header-inner-start">
                            <div class="header__currency border-right">
                                <div class="s-name">
                                    <span>国：</span>
                                </div>
                                <select>
                                    <option>日本</option>
                                   
                                </select>
                            </div>
                            <div class="header__lang border-right">
                                <div class="s-name">
                                    <span>県 : </span>
                                </div>
                                {% if request.user.is_authenticated %}

                                
                                   {{user.location}}
                                
                                {% endif %}

                                
                            </div>
                            {% if request.user.is_authenticated %}

                            {% if user.username == '' %}
                              {{user.email}}さん、ようこそ
                            {% else %}
                             {{user.username}}さん、ようこそ
                             {% endif %}
                             {% else %}
                             <p> まずは、ログインしてください</p>
                             {% endif %}
                       
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                        <div class="header__info">
                            <div class="logo">
                                <a href="{% url 'index' %}" class="logo-image"><img
                                        src="{% static 'assets/img/logo/logo3.jpg' %}" alt="logo" width="100" height="50"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="header__search">
                            <!-- <form action="#">
                                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                    <input type="text" class="search_input search_input_1" placeholder="City" required="required">
                                    <input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
                                    <input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
                                    <input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
                                    <button class="home_search_button">search</button>
                                </div>
                              
                            </form> -->
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                        <div class="header-action">
                            {% if request.user.is_authenticated %}
                            <div class="block-userlink">
                                <a class="icon-link" href="{% url 'signout' %}">
                                    <i class="flaticon-user"></i>
                                    <span class="text">
                                        <span class="sub">ログアウト </span>
                                        My Account </span>
                                </a>
                            </div>
                            {% else %}
                            <div class="block-userlink">
                                <a class="icon-link" href="{% url 'signin' %}">
                                    <i class="flaticon-user"></i>
                                    <span class="text">
                                        <span class="sub">ログイン </span>
                                        </span>
                                </a>
                            </div>
                            {% endif %}
                      
                           
                            <!-- <div class="block-wishlist action">
                                <a class="icon-link" href="wishlist.html">
                                    <i class="flaticon-heart"></i>
                                    <span class="count">0</span>
                                    <span class="text">
                                        <span class="sub">ユーザ情報</span>
                                       </span>
                                </a>
                            </div> -->
                            <div class="block-cart action">
                                <a class="icon-link" href="cart.html">
                                    <i class="flaticon-shopping-bag"></i>
                                    <span class="count">1</span>
                                    <span class="text">
                                        <span class="sub">予約:</span>
                                       </span>
                                </a>
                                <div class="cart">
                                    <div class="cart__mini">
                                        <ul>
                                            <li>
                                                <div class="cart__title">
                                                    <h4>Your Cart</h4>
                                                    <span>(1 Item in Cart)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="cart__item d-flex justify-content-between align-items-center">
                                                    <div class="cart__inner d-flex">
                                                        <div class="cart__thumb">
                                                            <a href="product-details.html">
                                                                <img src="{% static 'assets/img/cart/20.jpg' %}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cart__details">
                                                            <h6><a href="product-details.html"> Samsung C49J89: £875,
                                                                    Debenhams Plus </a></h6>
                                                            <div class="cart__price">
                                                                <span>$255.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart__del">
                                                        <a href="#"><i class="fal fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="cart__sub d-flex justify-content-between align-items-center">
                                                    <h6>Subtotal</h6>
                                                    <span class="cart__sub-total">$255.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="cart.html" class="wc-cart mb-10">View cart</a>
                                                <a href="checkout.html" class="wc-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-3">
                    <div class="cat__menu-wrapper side-border d-none d-lg-block">
                        <div class="cat-toggle">
                            <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i>
                                カテゴリー</button>
                            <div class="cat__menu">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="shop.html"> <i class="far fa-angle-down"></i></a>
                                            <ul class="mega-menu">
                                                <li><a href="shop.html"></a>
                                                    <ul class="mega-item">
                                                        <li><a href="product-details.html"></a></li>
                                                    </ul>
                                                </li>


                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-3">
                    <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                            <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i
                                    class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}" class="active">ホームページ <i
                                                class="far fa-angle-down"></i></a>

                                    </li>
                                    <li><a href="#">会社について</a></li>
                                   
                                    <li><a href="#">パッケージ<i class="far fa-angle-down"></i></a>
                                       
                                    </li>
                                    <li>
                                        <a href="about.html">ユーザ情報<i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="my-account.html">アカウント</a></li>
                                            <li><a href="cart.html">パッケージの予約</a></li>
                                            <li><a href="contact.html">お問い合わせ</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-9">
                    <div class="shopeing-text text-sm-end">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="index.html">
                    <img src="{% static 'assets/img/logo/logo-white.png' %}" alt="logo">
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="#">
                    <input type="text" placeholder="What are you searching for?">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu fix"></div>
            <div class="offcanvas__action">

            </div>
        </div>
    </div>
</div>
<!-- offcanvas area end -->
